<%-include('header')-%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" autocomplete="off" placeholder="Your Title" name="posttitle">
        </div>
        <div class="form-group">
            <label>Post</label>
            <textarea class="form-control" rows="3" placeholder="Post content" name="postcontent"></textarea>
        </div>
        <button type="Submit" class="btn btn-primary">Publish</button>
    </form>
    <%-include('footer')-%>